ATTRS{idVendor}=="445a", ATTRS{idProduct}=="2260", RUN+="/usr/bin/su inathero -c \"DISPLAY=:0 XAUTHORITY=/home/inathero/.Xauthority xset r rate 200 30\""
ATTRS{idVendor}=="445a", ATTRS{idProduct}=="2260", RUN+="/usr/bin/su inathero -c \"DISPLAY=:0 XAUTHORITY=/home/inathero/.Xauthority setxkbmap us -option compose:ralt\""
ATTRS{idVendor}=="ca04", ATTRS{idProduct}=="4f60", RUN+="/usr/bin/su inathero -c \"DISPLAY=:0 XAUTHORITY=/home/inathero/.Xauthority xset r rate 200 30\""
ATTRS{idVendor}=="ca04", ATTRS{idProduct}=="4f60", RUN+="/usr/bin/su inathero -c \"DISPLAY=:0 XAUTHORITY=/home/inathero/.Xauthority setxkbmap us -option compose:ralt\""
